table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
th, td {
    padding: 5px;
    text-align: left;
}
caption{
    text-align: center;
    font-size: 20px;
}
#purgeall{
    font-size: 30px;
    background-color: pink;
}
#dynamic {
    scroll-behavior: smooth;
}
#section1 {
    height: 500px;
    background-color: pink;
  }
  
#section2 {
    height: 500px;
    background-color: yellow;
}
#section3 {
    height: 500px;
    background-color: orange;
}
#section4 {
    height: 500px;
    background-color: white;
}
#section5 {
    height: 500px;
    background-color:grey;
}
#section6 {
    height: 500px;
    background-color: red;
}
